*.DS_Store*
*.xcuserstate
*.xcbkptlist
tealium/tealium_debug/Swifter
*.xcuserdatad*
carthage/
Carthage/
*carthage/
*Carthage/
Cartfile.resolved
.idea
Pods/
build/
.swiftpm/*
tealium-xcframeworks/
tealium-xcframeworks.zip
builder/tealium-xcframeworks/
builder/tealium-xcframeworks.zip
build/
builder/build/
