<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testTimeToInitializeTealiumWithBaseModules()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>12500</real>
					<key>baselineIntegrationDisplayName</key>
					<string>22 May 2020 at 20:08:21</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>18100</real>
					<key>baselineIntegrationDisplayName</key>
					<string>22 May 2020 at 20:08:28</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0091808</real>
					<key>baselineIntegrationDisplayName</key>
					<string>22 May 2020 at 20:08:43</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>22 May 2020 at 20:30:23</string>
					<key>maxPercentRelativeStandardDeviation</key>
					<real>200</real>
				</dict>
				<key>com.apple.dt.XCTMetric_Disk.logical.writes</key>
				<dict>
					<key>baselineAverage</key>
					<real>34.406</real>
					<key>baselineIntegrationDisplayName</key>
					<string>22 May 2020 at 20:08:40</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>19.661</real>
					<key>baselineIntegrationDisplayName</key>
					<string>22 May 2020 at 20:08:37</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
